{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status">
                {% for competition in competitions %}
                    <span>{{ competition['start_at'] }}</span>
                    <ul>
                        <li>home team = {{ competition['home_team']['name'] }}</li>
                        <li>score = {{ competition['score'] }}</li>
                        <li>away team = {{ competition['away_team']['name'] }}</li>
                    </ul>
                    <hr>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
